@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*{
    box-sizing: border-box;
    min-height: 100%;
}


body{
  
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-image: linear-gradient(to bottom, rgba(4, 14, 73, 0.52), rgba(126, 118, 124, 0.73)),  
  url(https://seeklogo.com/images/U/university-of-lagos-logo-38976CB5C4-seeklogo.com.png);
  background-repeat: no-repeat;
  background-position: center;
}

.score{
    display: flex;
    justify-content: center;
    background-color: white; 
    max-width: 450px;
    margin: 20px auto;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 30px 20px;
    margin-bottom: 0;
}

#score-display{
  font-size: 30px;
}

